:root {
  --color-primary: #0b0a12;
  --color-secondary: #fff;
}

html {
  font-size: 16px;
}

body {
  background-color: #fcfcfc;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--color-primary) !important;
  margin: auto;
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}

li {
  font-size: 0.875rem;
  font-weight: 400;
  color: #f4f4f4;
  list-style: none;
  text-decoration: none;
}

a {
  display: inline-block;
  text-decoration: underline;
  font-weight: 400 !important;
  color: var(--color-primary) !important;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
}
p {
  font-size: 0.5rem;
  margin-bottom: 0rem;
}
span {
  font-size: 1rem;
}
ul {
  list-style-type: none;
  padding: 0;
}

label {
  font-weight: 600;
}

input[type="number"] {
  overflow: hidden !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.btn-primary,
.btn-outline-primary,
.btn-secondary {
  font-size: 1rem;
  text-align: center;
  padding: 0.75rem 1rem;
  font-weight: 500;
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--color-primary);
  border: 2px solid #bfa37c;
}

.btn-outline-primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-secondary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  margin-top: 1.5rem;
}

.btn:hover,
.btn:focus-visible,
.btn-check:focus+.btn,
.btn:focus,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn:first-child:active:focus-visible,
:not(.btn-check)+.btn:active:focus-visible {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}

.btn:hover.btn-primary,
.btn:focus-visible.btn-primary,
.btn-check:focus+.btn.btn-primary,
.btn:focus.btn-primary,
.btn:first-child:active.btn-primary,
:not(.btn-check)+.btn:active.btn-primary,
.btn:hover.btn-outline-primary,
.btn:focus-visible.btn-outline-primary,
.btn-check:focus+.btn.btn-outline-primary,
.btn:focus.btn-outline-primary,
.btn:first-child:active.btn-outline-primary,
:not(.btn-check)+.btn:active.btn-outline-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-decoration: none;
}

.btn:hover.btn-primary,
.btn:focus-visible.btn-primary,
.btn-check:focus+.btn.btn-primary,
.btn:focus.btn-primary,
.btn:first-child:active.btn-primary,
:not(.btn-check)+.btn:active.btn-primary {
  border: 2px solid #bfa37c;
}

.btn:hover.btn-outline-primary,
.btn:focus-visible.btn-outline-primary,
.btn-check:focus+.btn.btn-outline-primary,
.btn:focus.btn-outline-primary,
.btn:first-child:active.btn-outline-primary,
:not(.btn-check)+.btn:active.btn-outline-primary {
  border: 1px solid var(--color-primary);
}

.btn:hover.btn-secondary,
.btn:focus-visible.btn-secondary,
.btn-check:focus+.btn.btn-secondary,
.btn:focus.btn-secondary,
.btn:first-child:active.btn-secondary,
:not(.btn-check)+.btn:active.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.form-control,
.form-select {
  background-color: var(--color-secondary);
  padding: 0.5rem;
  border-color: #D0D5DD;
  width: 100%;
}

.form-control:focus,
.form-select:focus {
  background-color: var(--color-secondary);
  border-color: #D0D5DD;
  box-shadow: none;
  color: var(--color-white);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border: none;
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.875rem;
  color: #919191;
}

.form-select::placeholder {
  font-size: 0.875rem;
  color: #919191;
}

.form-control,
.form-select
{
  margin-top: 0.5rem;
}

.form-check-input {
  background-color: transparent;
}

.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-white);
}

/* header */

.navbar-nav {
  margin-left: 0rem !important;
}

.navbar {
  padding: 1rem 0;
  position: relative;
}

.navbar .navbar-toggler{
  background-color: var(--color-secondary);
  box-shadow: none;
  padding: 0.5rem;
}

.navbar .nav-link{
  padding-bottom: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: var(--color-secondary)!important;
}

.navbar .navbar-collapse{
  position: absolute;
  right: 50%;
  top: 7rem;
}

.header-text {
  background-color: #BFA37C;
  color: var(--color-secondary);
  padding: 0.25rem 0;
  text-align: center;
  font-size: 1rem;
}
.header-block-custom{
  display: flex;
  padding-right: 0;
}

.header-block-custom::before {
  content: "";
  width: 50%; 
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url(images/bg-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .header-block-custom::after {
  content: "";
  width: 50%; 
  height: 100%;
  position: absolute;
  background-color: #0b0a12;
} */

.header-form {
  background-color: var(--color-secondary);
  border-radius: 12px;
  max-width: 370px;
  padding: 1rem;
  margin: 2rem 0 0 auto;
}
.header-form .form h6 {
  font-weight: 800;
  padding-bottom: 1rem;
  border-bottom: 1px solid #DFDFE3;
  padding: .5rem;
  text-align: center;
}

.header-form .form .btn-outline-primary {
  width: 100%;
}

.header-img img{
  max-width: 700px!important;
  display: none;
}

/* about */
.about{
  margin-top: 15rem;
  margin-bottom: 6rem;
}

.about .row {
  justify-content: center;
}

.about .card .card-title,
.about .card .card-title-reserv{
  padding: 1rem 1.15rem;
}

.about .card .card-title {
  border-radius: 50%;
  background-color: #eeecfe;
}

.about .card .card-title-reserv {
  background-color: #fef6e0;
}

.about .card .card-title-divertissment,
.about .card .card-title-secure,
.about .card .card-title-conducteur,
.about .card .card-title-vehicle
{
  padding: 1rem;
}
.about .card .card-title-divertissment {
  background-color: #e8f6f8;
}
.about .card .card-title-secure {
  background-color: #e7f8f3;
}

.about .card .card-title-conducteur {
  background-color: #f5f5f6;
}
.about .card .card-title-vehicle{
  background-color: #fbeaec;
}

.about .card{
  border: none;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.15);
}

.about .card .card-body{
 padding-top: 2rem;
}

.about .card-text {
  color: #747579;
  font-size: 1.15rem;
  line-height: 1.5;
  font-weight: 400;
}
.about .card .card-subtitle {
  margin: 1rem 0;
}

/* start */
.start {
  margin-top: 6rem ;
  background-color: #1b2223;
  background-image: url(images/start-group.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.start .start-bg-elipse1 {
  background-image: url(images/start-ellipse.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.start .start-bg-elipse2 {
  padding: 3.75rem 0;
  background-image: url(images/start-ellipse1.svg);
  background-repeat: no-repeat;
  background-position: right;
  margin-top: 2rem;
}
.start h2 {
  font-size: 1.5rem;
}

/* faq */
.faq-home {
  background-image: url(images/faq-bg.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.faq {
  padding: 6rem 0;
}

.faq .accordion-button {
  background-color: #f5f5f6;
  color: var(--color-primary);
}

.faq .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}

.faq .accordion-item {
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
}

.faq .accordion-button {
  border-radius: 8px!important;
}

.faq .accordion-item:first-of-type .accordion-button {
  border-radius: 8px;
  border: none;
}

.faq .accordion-item:last-of-type .accordion-button {
  border-radius: 8px;
  border: none;
}
.accordion-button::after {
  background-image: url(images/icon-add.svg);
  background-size: 1rem;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(images/icon-open.svg);
  background-size: 1rem;
  margin-bottom: 0.5rem;
}

/* reservation */
.reservation {
  margin: 6rem 0;
}

.reservation .reservation-title {
  padding: 1rem;
  text-align: center;
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.reservation .reservation-block {
  padding: 2.25rem;
  border: 1px solid #DFDFE3;
  background-color: var(--color-secondary);
}

.reservation h6 {
  color: var(--color-primary);
  font-weight: 700;
}

.reservation h5 {
  color: #0b0a1280;
  font-weight: 700;
}

.reservation span {
  color: #667085;
  font-size: 1rem;
}

.reservation td {
  color: #667085;
}

.reservation th {
  color: #bfa37c;
}

.reservation .table {
  border: 1px solid var(--color-primary) !important;
}

.reservation .reservation-table {
  margin-bottom: 10rem;
}

/* contact */
.contact {
  margin: 6rem 0;
}
.contact span{
  font-size: 0.875rem;
  color: #a2a9b0;
}

.contact .contact-text h2{
  margin-bottom: 3.5rem;
}

.contact form{
  margin-top: 2.5rem;
}

/* register */
.register {
  margin: 6rem 0;
}

.register .register-block {
  background-color: var(--color-secondary);
  padding: 4rem;
}

.register .register-block .register-block-link a {
  color: #bfa37c!important;
  text-decoration: none;
  font-weight: 600 !important;
}

.register .register-block span {
  font-weight: 600 !important;
  font-size: 0.875rem;
}

/* footer */

.footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  margin-top: 6rem;
  padding-top: 2rem;
}

.footer-link {
  border-bottom: 1px solid var(--color-secondary);
}

.footer .footer-link .form-control {
  border-radius: 0;
  background-color: transparent;
  margin-top: 0;
}

.footer .footer-link .btn-secondary {
  margin-top: 0;
  border-radius: 0;
}

.footer h6 {
  font-weight: 700;
}

.footer .footer-link .btn-secondary {
  border: none;
  padding-bottom: 0.56rem !important;
}

.footer span {
  font-size: 0.895rem;
}

/*  */
@media (min-width: 420px) and (max-width:575.98px) {}

/* Small devices (landscape phones, 576px, up to 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 992px) {
  h2 {
    font-size: 3rem;
    font-weight: 700;
  }

  .navbar-collapse {
     margin-left: 8.5rem;
  }

  .navbar .nav-link-contact{
    margin-left: 0rem;
  }

  .navbar .nav-link{
    background-color: transparent;
    color: var(--color-primary)!important;
    padding: 0rem;
    margin-bottom: 0;
  }

  .navbar .navbar-collapse-btn {
    margin-top: 0rem;
  }

  .navbar .navbar-collapse{
    position: inherit;
    right: auto;
    top: auto;
  }

  .header-img img{
    display: block;
  }
}

/* Small devices (landscape phones, 576px, up to 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px, up to 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-nav {
    margin-left: 0rem;
  }
}

/* Large devices (desktops, 992px, up to 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* X-Large devices (large desktops, 1200px, up to 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}